

section{
    width: 80%;
    margin: 50px auto;
    background-image: url(../img/goofyBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

aside{
    margin: 30px;
}


.mole, .bomb{
    width: 100px;
    height: 100px;
    background-image: url(../img/ralmole.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.bomb{
    background-image: url(../img/bomb.png);
}